* {
	margin: 0;
	padding: 0;

}



body {
	padding-top: 10px;
font-size: 25pt;
color: white;
background-color: grey;

}
a {
	color: black;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;


}
p.submit {

	margin: auto;
 	width: 75%;
}
ul{
	margin: auto;
	text-align: center;
 	margin-bottom: 20px;
	background-color: white;
	border-radius: 20px;
	width: 400px;

}
.menu:hover{

	color: grey;
}

li {
	padding: 20px;
	display: inline;

}

input.text {
	height: 30px;
	font-size: 24pt;
	margin-top: 5px;
	float: right;

}


input.submit {
	padding-left: 70px;
	font-size: 25pt;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

	


}
.submit:hover {
	padding-left: 70px;
	font-size: 25pt;
	color: grey;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

	


}

#Main {
	margin-left: 10px;
	display: inline-block;
	width: 75%;

}