* {
	margin: 0;
	padding: 0;

}


body {

	background-image: url(img/background.png);
	width: 900px;
	margin: auto;
	font-size: 20pt;

}

li {
	padding: 12px;
	display: inline-block;
	list-style-type: none;
	margin: auto;

}

input.text {
	height: 25px;
	border-radius: 6px;
	font-size: 15pt;
	float: right;
	margin-right: 12px;

}

#Menu {
	height: 50px;
	width: 900px;
	background-color: darkred;
}

#Main {

	background-color: white;
}


a{
	color: white;


}

h2 {

	padding: 20px;
}

input.submit {
	width: 150px;
	height: 25px;
	border-radius: 12px;
	margin-left: 400px;
	font-size: 15pt;
	margin-bottom: 16px;
}

p {
	padding-left: 12px;

}

.copyright {
	width: 900px;
	text-align: center;
	background-color: grey;
	color: white;

}